body {
  height: 3000px;
}

div{
    font-family: Arial;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.server-sidebar{
    position: fixed;
    background-color: rgb(33, 35, 38);
    width: 80px;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    padding-top: 15px;
}

.server-icon{
    object-fit: cover;
    height: 54px;
    width: 54px;
    border-radius: 27px;
}

.channel-sidebar{
    position: fixed;
    background-color: rgb(49, 49, 55);
    width: 240px;
    left: 80px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 16px;
    row-gap: 15px;
}



.channel-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    justify-content: space-between;
}

.info{
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.plus{
    color: rgb(145, 146, 150);
    font-size: 30px;
    margin-right: 20px;
}

.channel{
    color: rgb(145, 146, 150);
    margin-left: 20px;
    font-size: larger;
}




