.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
}

@media (max-width: 1125px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

.thumbnails{
    width: 100%;   
}

.thumbnails:hover, .video-author:hover, .video-title:hover, .profile-pic:hover{
    cursor: pointer;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.length{
    position: absolute;
    background-color: black;
    color: white;
    font-weight: 500;
    bottom: 10px;
    right: 4px;
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    margin-top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: black;
}

.video-stats, .video-author{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}